fastapi
uvicorn[standard]
pydantic>=2
redis
rq
aioredis  # For async Redis pub/sub in WebSocket implementation
diffusers
transformers
safetensors
sentencepiece
protobuf
xformers
accelerate
Pillow==10.3.0
requests==2.31.0
starlette==0.36.3
torch==2.3.1
torchvision
numpy==1.26.4
tqdm==4.66.1
matplotlib==3.8.3
ftfy==6.2.0
huggingface_hub
opencv-python==4.8.1.78
imageio==2.31.5
imageio-ffmpeg==0.4.9
