fastapi
uvicorn[standard]
pydantic>=2
redis
rq
aioredis  # For async Redis pub/sub in WebSocket implementation
diffusers[torch]==0.29.1
transformers==4.38.2
safetensors==0.4.2
xformers==0.0.24
accelerate==0.30.1
Pillow==10.2.0
requests==2.31.0
starlette==0.36.3
torch==2.2.0
torchvision==0.17.0
numpy==1.26.4
tqdm==4.66.1
matplotlib==3.8.3
ftfy==6.2.0
huggingface_hub
opencv-python==4.8.1.78
imageio==2.31.5
imageio-ffmpeg==0.4.9
